@import "variables";
:host {
  @include router-default;
  padding-top: 0px;
  background-color: var(--background-primary-color);
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  .controls-space {
    @include controls-space;
  }
  .controls {
    @include controls;
  }
  .label {
    position: relative;
    top: 10px;
    left: 5%;
    font-size: 11px;
    font-weight: 600;
    color: var(--nav-secondary-color);
    z-index: 100;
  }
  .icon-btn {
    width: 82px;
    max-width: 82px;
    min-width: 82px;
  }
}
