<div class="cat-container">
  <span class="label">{{configData.H}}</span>
  
  <div *ngIf="configData" class="config">
    <div *ngFor="let groupD of configData.subCat; let i = index">
      <app-btn-group
      [kategorie]=kategorie [groupIndex]=i
      ></app-btn-group>
    </div>
  </div>

</div>

<div class="controls-space"></div>

<div class="controls">
  <button class="icon-btn" [routerLink]="['/parameters']" routerLinkActive="active" *ngIf="+kategorie === 0">
    <div class="back-button">Zpět</div>
  </button>
  <button class="icon-btn" [routerLink]="['/kategorie', +kategorie-1]" routerLinkActive="active" *ngIf="+kategorie !== 0">
    <mat-icon class="icon" aria-hidden="false">keyboard_arrow_left</mat-icon>
    <div class="left-button">K{{+kategorie}}</div>
  </button>
  <button class="div-btn" (click)="submit()">
    <div>Odeslat</div>
  </button>
  <button class="icon-btn" [routerLink]="['/kategorie', +kategorie+1]" routerLinkActive="active" [ngStyle]="{'visibility': +kategorie===4?'hidden':'visible'}">
    <div class="right-button">K{{+kategorie+2}}</div>
    <mat-icon class="icon" aria-hidden="false">keyboard_arrow_right</mat-icon>
  </button>
</div>
