<div class="catBlock">

  <div class="header">
    <div class=h>
      {{groupData.H}}
    </div>
    <button (click)="openDialog()"><mat-icon aria-hidden="false">info</mat-icon></button>
  </div>

  <div class="content">
    <mat-radio-group *ngIf="groupData">
      <mat-radio-button [checked]=checkedArray[0] (change)="getValues(0)" value="0">0</mat-radio-button>
      <mat-radio-button
        *ngFor="let btn of groupData.info; let j = index"
        [value]="j+1"
        [checked]=checkedArray[j+1]
        (change)="getValues(j+1)"
        matTooltip={{btn}} 
        matTooltipPosition="above"
        [matTooltipDisabled]="mobile"
        >
        {{j+1}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

</div>
