@import "variables";

:host {
  .catBlock {
    @include block-style;
    width: 90%;
    margin: 20px auto 10px auto;
    align-items: center;
    color: #313131;

    .header {
      padding: 8px 15px;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.54);
      .h {
        display: inline-block;
        width: calc(100% - 25px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      button {
        position: relative;
        right: -7px;
        float: right;
        line-height: 15px;
        padding: 0;
        background-color: inherit;
        .mat-icon {
          color: var(--nav-secondary-color);
        }
      }
    }

    .content {
      padding: 12px 30px;
      padding-top: 30px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.54);
    }
  }

}
::ng-deep .custom-dialog {
  // max-height: 90vh;
}

::ng-deep {
  .mat-radio-label-content {
    position: relative;
    top: -25px;
    left: -22px;
  }
}

@media (max-width: 400px) {
  .tooltip {
    display: none !important;
  }
}

@media (max-width: 300px) {
  .header {
    padding: 15px 5px;
  }
  .content {
    padding: 12px 5px;
    padding-top: 30px;
  }
}
