<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="sections">
  <ol>
    <li *ngFor="let item of data.info; let i = index">
      <div class="label">{{i+1}}</div>
      <div class="text">{{item}}</div>
    </li>
  </ol>
</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button mat-button mat-dialog-close>Zavřít</button>
</mat-dialog-actions>
