:host {
  .dialog-background {

    background-color: var(--background-primary-color);
  }
  h2 {
    color: var(--nav-secondary-color);
    border-bottom: 2px solid var(--control-background-color);
  }
  .sections {
    ol {
      list-style-type: none;
      li {
        background-color: var(--block-background-color);
        border-radius: 5px;
        box-shadow: 0px 1px 9px -4px #808080c9;
        margin: 40px 0 20px 0;
        position: relative;
        .label {
          color: var(--nav-secondary-color);
          position: absolute;
          top: -25px;
        }
        .text {
          padding: 10px;

        }

      }
    }
  }
  .actions {
    button {
      background-color: var(--control-background-color);
      margin: auto;
      font-size: 16px;
    }
  }
}