@import "variables";
.tile {
  @include block-style;
  // background-color: red;
  width: 90%;
  margin: 10px auto;
  height: 80px;
  display: flex;
  align-items: center;
  color: #313131;
  position: relative;

  h3 {
    width: 80%;
    margin: 0;
    padding-left: 50px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  
  div {
    &.images {
      position: absolute;
      right: 174px;
      width: auto;
      img {
        display: inline-block;
        width:50px;
        height: 50px;

        border-radius: 8px;
        margin-right: 10px;
      }
    }

    &.distance {
      margin-left: 50px;
      width: 10%;
    }
  }

  .material-icons {
    margin-right: 50px;
    &.verified {
      color: #0080007d;
    }
    &.unverified {
      color: #ff000078;
    }
  }

}

@media (max-width: 450px) {
  .tile {
    .material-icons {
      margin-right: 20px;
    }
    h3 {
      padding-left: 20px;
    }
    div {
      &:last-of-type {
        margin-left: 20px;
        margin-right: 28px;
      }
    }
  }
}

