<div class="tile">
  <h3>{{treeName}}</h3>
  <div class="images" *ngIf="images && images.length > 0">
    <img *ngFor="let image of images" [src]="image">
  </div>
  <div class="distance" *ngIf="distance !== 0">{{distance}}m</div>
  <span *ngIf="validated === 'true'" class="material-icons verified">
    verified
  </span>
  <span *ngIf="validated === 'false'" class="material-icons unverified">
    unpublished
  </span>
</div>