<app-tree-tile *ngIf="trees === null || trees.length === 0" [treeName]="'Ve vašem okolí nejsou žádné stromy'" [distance]="0"
  [id]="0" [type]="''" [validated]="''"></app-tree-tile>
<app-tree-tile *ngFor="let tree of trees" [treeName]="tree.name" [distance]="tree.distance" [id]="tree.id"
  [type]="tree.type" [validated]="tree.validated" [od]="tree.od"></app-tree-tile>
<div class="controls-space"></div>
<div class="controls">
  <button class="icon-btn">
    <mat-icon class="icon" routerLink="/parameters" aria-hidden="false">add</mat-icon>
  </button>
</div>