@import "variables";

:host {
  @include router-default;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: var(--background-primary-color);
  .controls-space {
    @include controls-space;
  }
  .controls {
    @include controls;
  }
}