@import "variables";
:host {
  @include router-default;
  background-color: var(--background-primary-color);
  overflow-y: scroll;
  overflow-x: hidden;
  .form-block {
    @include block-style;
    width: 90%;
    margin: 50px auto 10px auto;
    align-items: center;
    color: #313131;
    position: relative;
    .label {
      position: absolute;
      top: -22px;
      font-size: 11px;
      font-weight: 600;
      color: var(--nav-secondary-color);
    }
    .mat-form-field {
      display: block;
      font-family: "Open Sans", sans-serif;
      padding: 10px 30px;
    }
    .mat-list {
      padding:0;
      .mat-list-item {
        button {
          height: 32px;
          width: 32px;
          background-color: var(--nav-secondary-color);
          .mat-mini-fab {
            padding: 0 !important;
          }

        }
        .mat-icon {
          width: 29px;
          height: 27px;
          font-size: 21px;
        }
      }
    }
  }
  .controls-space {
    @include controls-space;
  }
  .controls {
    @include controls;
  }
}
::ng-deep .mat-button-wrapper {
  padding: 0 !important;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field-wrapper {
  padding: 0px !important;
  border-bottom: 2px solid var(--background-primary-color);
}
::ng-deep .mat-form-field-appearance-legacy {
  padding: 0px;
}
::ng-deep .mat-form-field-infix {
  margin: 0 !important;
  padding: 10px;
}
