<form [formGroup]="formGroup">

  <div class="form-block">
    <span class="label">ZÁKLADNÍ PARAMETRY</span>

    <mat-form-field>
      <mat-label>Jméno stromu</mat-label>
      <input matInput type="string" formControlName="nameCtrl">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Typ objektu</mat-label>
      <mat-select formControlName="typeCtrl" name="objectType">
        <mat-option *ngFor="let type of objectTypes" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Datum přidání stromu</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateCtrl">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-block">
    <span class="label">POZICE</span>
    <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input matInput type="string" formControlName="lonCtrl">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input matInput type="string" formControlName="latCtrl">
    </mat-form-field>
  </div>

  <div class="form-block">
    <span class="label">KOMENTÁŘ UŽIVATELE</span>
    <mat-form-field>
      <mat-label>Text</mat-label>
      <input matInput type="string" formControlName="commentCtrl">
    </mat-form-field>
  </div>

  <div class="form-block">
      <span class="label">NAHRÁT FOTOGRAFIE</span>

    <mat-list>

      <mat-list-item>
        <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="onFileSelected($event)"
          style="display:none">
        <button mat-mini-fab color="primary" (click)="fileUpload.click()">
          <mat-icon>add</mat-icon>
        </button>
        <div mat-line>Přidat fotku</div>
      </mat-list-item>

      <mat-list-item *ngFor="let image of imageFiles">
        <button mat-mini-fab color="primary" (click)="deleteImage(image.name)">
          <mat-icon>delete</mat-icon>
        </button>
        <div mat-line>{{image.name}}</div>
      </mat-list-item>

    </mat-list>
  </div>

  <div class="controls-space"></div>

  <div class="controls">
    <button class="div-btn" (click)="submit(false)" type="submit">
      <div>Odeslat</div>
    </button>
    <button class="div-btn" (click)="submit(true)" type="submit">
      <div>Klasifikovat</div>
    </button>
  </div>

</form>