@import "variables.scss";
* {
  padding: 0;
  margin: 0;
  border: 0;
  // -webkit-tap-highlight-color: transparent;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  button {
    outline: none;
    :focus {
      outline: 0 !important;
    }
    // -webkit-tap-highlight-color: rgba(0,0,0,0);
    // -webkit-tap-highlight-color: transparent;
  }
}
// body {
//   min-height: 100vh;
//   // min-height: -webkit-fill-available;
//   z-i
//   z-index: -1;ndex: -1;
// }
// html {
// }
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

/** radio button colors */
// .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
//   opacity: 0 !important; /*click effect color change*/
//   background-color: var(--nav-secondary-color) !important;
// }

// .mat-radio-button.mat-accent .mat-radio-inner-circle {
//   background-color: var(--nav-secondary-color) !important; /*inner circle color change*/
// }

// .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
//   border-color: var(--nav-secondary-color) !important; /*outer ring color change*/
// }
