$header-height: 56px;
$control-height: 56px;
// $control-height: 56px;
$block-background-color: #ffffff;
:root {
  --header-height:  #{$header-height};
  --control-height: #{$control-height};

  --background-primary-color: #eef3f6;
  --block-background-color: #{$block-background-color};
  // --block-header-color: #37dcf9;
  // --block-header-color: #1f7f90;

  --header-background-color: #ffffff;
  --control-background-color: #d0e4f0;
  // --control-background-color: #eef3f6;
  --tr-hover-color:rgb(236, 236, 236);

  --nav-background-color: #575f72;
  --nav-hover-color: #4e5567;
  // --nav-secondary-color: #37dcf9;
  --nav-secondary-color: #1f7f90;
  --nav-active-color: #facf5a;

  --background-block-secondary-color: rgb(3, 3, 61);

  --primary-color: #3f51b5;
  --secondary-color: #adb9ff;
}

@mixin router-default {
  position: fixed;
  top: #{$header-height};
  left: 0;
  height: calc(100% - #{$header-height});
  min-height: calc(100% - #{$header-height});
  max-height: calc(100% - #{$header-height});

  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

@mixin block-style {
  background-color: #{$block-background-color};
  border-radius: 5px;
  box-shadow: 0px 1px 9px -4px #808080c9
}

@mixin controls-space {
  width: 100%;
  height: var(--control-height);
}

@mixin controls {
  position: fixed;
  top: 300px;
  top: calc(100% - var(--control-height));
  left: 0;
  background-color: var(--control-background-color);
  z-index: 101;
  height: var(--control-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
//   // box-shadow: 0px 1px 9px -4px #808080c9;
//   -webkit-backface-visibility: visible;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   -webkit-transform: translate3d(0, 0, 0);
//  transform: translate3d(0, 0, 0);

  button {
    background-color: var(--nav-secondary-color);
    height: 30px;
    border-radius: 4px;
    box-shadow: 0px 1px 7px -2px #808080;
    display: flex;
    justify-content: center;
    align-items: stretch;
    &.icon-btn {
      // padding: 0 10px;
    }
    &.div-btn {
      width: 115px;
    }
    .icon {
      color: white;
      height: auto;
      width: 28px;
      font-size: 28px;
      line-height: 30px;
    }
    div {
      color: white;
      font-size: 16px;
      line-height: 30px;
    }
  }
}