:host {
  background-color: var(--nav-secondary-color);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0px 1px 9px -4px #808080c9;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    margin-left: 30px;
  }
  .icon {
    margin-right: 15px;
    font-size: 26px;
    width: 26px;
    height: 26px;
    outline:none;
    :focus {outline:0 !important;}
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
}
